<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      https://maven.apache.org/xsd/settings-1.0.0.xsd">
    <servers>
        <server>
            <id>as-nexus-releases</id>
            <username>jenkins</username>
            <password>R1UIR3lQ%qH%6A8</password>
        </server>
        <server>
            <id>docker.as-labs.com</id>
            <username>jenkins</username>
            <password>R1UIR3lQ%qH%6A8</password>
        </server>
    </servers>
    <pluginGroups>
        <pluginGroup>org.openclover</pluginGroup>
    </pluginGroups>
</settings>